* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --bgcol: #f0f0f0;
  --mcol0: #29b6f6;
  --mcol1: #2196f3;
  --mcol2: #1976d2;
  --txtcol0: #90a4ae;
  --txtcol1: #607d8b;
  --whitecol: #eceff1;
  --darkcol: #263238;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    90deg,
    #ffffff,
    #f0f0f0
  ); /* Subtle white gradient */
  color: #333; /* Text color */
  text-align: center;
  margin: 20px;
}

.cool-header {
  background-color: var(--mcol0);
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 0;
  margin-top: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

h1 {
  font-size: 2em;
  margin: 0;
}

#puzzle-container {
  margin-top: 98px;
  position: relative;
  width: 50vh;
  height: 50vh;
  background-color: var(--darkcol);
  border-radius: 8px;
  border: 9px solid var(--darkcol);
  box-shadow: 0px 8px 0px var(--darkcol);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.puzzle-piece {
  width: 100%;
  height: 100%;
  background-color: var(--whitecol);
  color: var(--mcol0);
  font-size: 10vh;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s;
  border-radius: 8px;
}

.puzzle-piece .number {
  font-size: 3.5em; /* Adjust the font size to your preference */
  border-radius: 15px; /* Rounded corners for a nice form */
  transition: transform 0.3s ease-in-out;
  font-weight: bold; /* Make the text bold for emphasis */
  font-family: "Arial", sans-serif; /* Choose a suitable font-family */
  box-shadow: 100 20px 4px rgba(14, 53, 182, 0.1); /* Add a subtle box shadow */
}

.puzzle-piece.clicked .number {
  color: #3498db; /* Change color when clicked, you can choose a different color */
}

.puzzle-piece:not(.empty):hover .number {
  color: #44b7f7; /* Change color on hover, you can choose a different color */
  transform: scale(1.1);
}

/* Add a pulsing effect for the clicked piece */
.puzzle-piece.clicked:not(.empty) {
  animation: pulse 0.3s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.puzzle-piece.empty {
  background-color: var(--darkcol);
  color: transparent;
}

.clicked {
  transition: none;
}

label {
  margin-right: 5px;
}

input {
  margin-bottom: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

.active {
  background-color: #4caf50;
  color: #fff;
}

#difficulty_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vh;
  height: 10vh;
  border-radius: 8px;
  margin-top: 20px;
}

.grid-size-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.grid-size-button {
  background-color: var(--darkcol);
  color: var(--mcol2);
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
  padding: 10px;
  margin: 4px;
  cursor: pointer;
  transition: font-size 0.3s;
  border: 2px solid var(--mcol2);
  border-radius: 8px;
}

.grid-size-button:hover {
  opacity: 0.8;
  font-size: 3.5vh;
}

.grid-size-button.active {
  background-color: var(--mcol0);
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .cool-header {
    padding: 15px;
  }

  h1 {
    font-size: 1.5em;
  }

  #difficulty-container {
    flex-direction: column;
    align-items: stretch;
  }

  .difficulty-button {
    font-size: 14px;
    border-radius: 6px;
  }
}

@media only screen and (max-width: 390px) {
  #puzzle-container {
    width: 90vw;
    height: 90vw;
  }

  .puzzle-piece {
    font-size: 5vw;
  }

  .number {
    font-size: 3vw;
  }

  #difficulty_container {
    width: 90vw;
    margin-top: 44px;
  }

  .difficulty_button {
    font-size: 4vw;
  }
}
